1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
{
  BLOCK "StringFileInfo"
  {
    BLOCK "041504E4"
    {
      VALUE "FileDescription", "Puszka Pandory"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "puszka_pandory"
      VALUE "LegalCopyright", "Witold Krecicki"
      VALUE "OriginalFilename", "pandora.exe"
      VALUE "ProductName", "My App"
      VALUE "ProductVersion", "1.0"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x415, 1252
  }
}

AppIcon ICON "rakieta.ico"
